*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    overflow-x: idden;
}
body{
    background-color: var(--primary-color);
}
:root{ 
    --primary-color: #ececec;
    --secondary-color: black; 
}
header{
    width: 100%;
    height: 12vh;
    width: 75%;
    margin: auto;
    padding: 30px 0;
    overflow: hidden;
}
.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar .navlinks, #icon{
    display: flex;
    gap: 40px;
    margin-top: 11px;
}
.navlinks a{
    color: var(--secondary-color);
    transition: 0.42s all ease;
    border-bottom: 2px solid transparent;

}
.logo{
    color: var(--secondary-color);
    font-size: 1.8rem;
    font-weight: bold;
    padding-left: 30px;
    cursor: pointer;
}
.hero{
    height: calc(100vh - 12vh);
    overflow: hidden;
    display: flex;
    align-items: center;
}
.cards{
    width: 100%;
    height: calc(100vh - 12vh);
    display: flex;
}
.cards .card{
    width: 14rem;
    margin: auto;
    height: 75vh;
    display: flex;
    gap: 40px;
    background-position: center;
    background-size: cover;
    transition: 0.40s all ease;
}
.cards .card:nth-child(3){
  margin-bottom: 4rem;
  background-image: url(images/Living\ Room.jpg);
}
.cards .card:nth-child(1){
    margin-top: 4rem;
    background-image: url(images/Dining\ Room.jpg);
}
.cards .card:nth-child(2){
    background-image: url(images/Blue\ Couch.jpg);
}
.main{
    margin-left: 70px;
    flex-basis: 46%;
    overflow: hidden;
}
.main h1{
    font-size: 2.7rem;
    line-height: 1.3;
    overflow: hidden;
    font-weight: 600;
    color: var(--secondary-color);
}
.main p{
    font-size: 15px;
    overflow: hidden;
    line-height: 1.3;
    margin-top: 27px;
    margin-bottom: 20px;
    color: var(--secondary-color);
}
.main button{
    padding: 1rem 2rem;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-size: 1rem;
    border: none;
    transition: 0.40s all ease;
}
img{
    width: 200px;
    position: absolute;
    top: 0%;
    left: 60px;
}
.main button:hover{
    background-color: #924d37;
    cursor: pointer;
}
.navlinks a:hover{
    color: #924d37;
    border-bottom: 2px solid #924d37;
}
.cards .card:hover{
    box-shadow: 0 0 20px 0 var(--secondary-color);
    scale: 1.04;
}
.container2{
    height: 100vh;
    width: 100%;
}
.image2{
    width: 700px;
    height: 75vh;

}

.hero2{
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-left: 73px;
    margin-right: 50px;
    width: 100%;
}
.main2{
    flex-basis: 35%;
    overflow: hidden;
}
.main2 h1{
    font-size: 3.3rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--secondary-color);
}
.main2 p{
    color: var(--secondary-color);
    font-size: 15px;
    line-height: 1.3;
    overflow: hidden;
}
.main2 button{
    padding: 0.8rem 2rem;
    color: var(--primary-color);
    overflow: hidden;
    background-color: var(--secondary-color);
    font-size: 1.2rem;
    border: none;
    transition: 0.40s all ease;
    display: inline-block;
    margin-top: 20px;
}
span{
    font-weight: 600;
}
.main2 h3{
    font-weight: 500;
}
.main2 button:hover{
    background-color: #924d37;
    cursor: pointer;
    
    scale: 1.04;
}
.image2 .pic{
    width: 100%;
    height: 100%;
    background: url(images/pexels-vecislavas-popa-1571460.jpg);
    background-position: center;
    background-size: cover;
    transition: 0.45s all ease;
    overflow: hidden;
}
.image2 .pic:hover{
    scale: 1.2;
}
.container3{
    height: 100vh;
    width: 100%;
    background-color: rgb(236, 236, 236)
}
.main3{
    height: calc(100vh - 12vh);
    width: 100%;
    display: flex;
    gap: 20px;
    margin: auto;
}
.location{
    flex-basis: 100%;
    width: 100%;
    margin-top: 26px;
}
.firstbutton{
    border: 1px solid #fff;
    color: #fff;
    padding: 12px 34px;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    font-size: 13px;
    display: inline-block;
    background-color: black;
}
.firstbutton:hover{
    border: 1px solid #f44336;
    background-color: #f44336;
    transition: 0.5s;
}
.contactcolumn{
    display: flex;
    align-items: center;
    margin-left: 50px;
    flex-direction: column;
}
.contactcolumn form{
    width: 100%;
    margin-top: 80px;
}
.contactcolumn button{
    margin-right: 20px;
}
.contactcolumn input, .contactcolumn textarea{
    width: 85%;
    outline: none;
    border: 1px solid black;
    margin-bottom: 17px;
    padding: 5px;
    box-sizing: border-box;
}

.contactcolumn h2{
    font-size: 50px;
    z-index: 99999999;
}
.location iframe:hover{
    scale: 0.95;
    box-shadow: 0 0 1rem black;
}
.location iframe{
    transition: 0.40s all ease;
}
.container3 header img{
    top: -10px;
}
.container2 ul img{
    z-index: 99999999;
    cursor: pointer;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.center{
    width: 80%;
    margin: auto;
    height: 70vh;
    padding-top: 6%;
    align-items: centers;
    text-align: center;
}
.products h1{
    font-size: 2.7rem;
    padding-right: 20px;
}
.landing{
    height: 100vh;
    width: 100%;
    margin: auto;
    background-color: rgb(0, 0, 0, 0.8);
}
.carousel {
    width: 100%;
    height: fit-content;
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  .controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0 40px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
  }
  .controls button {
    background: none;
    outline: none;
    border: none;
    color: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .controls button span {
    color: black;
    font-size: 40px;
  }
  .controls button:hover {
    background: rgba(255, 255, 255, 0.4);
  }
  .slide-center {
    width: fit-content;
    height: 350px;
    display: flex;
    margin-right: 105px;
    align-items: center;
    justify-content: center;
    transform: translateX(calc(50% - 155px));
  }
  .slider {
    width: fit-content;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s ease-in-out;
    
  }
  .slide {
    width: 140px;
    height: 175px;
    position: relative;
    border-radius: 2mm;
    margin: 0 10px;
    transition: 0.25s;
  }
  .slide img {
    width: 140px;
    height: 175px;
    left: 21.5%;
    border-radius: 2mm;
    -webkit-box-reflect: below 0px
      linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
    transition: 0.25s;
  }
  .title {
    color: var(--secondary-color);
    font-size: 50px;
    font-family: poppins;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f44336;
    margin-bottom: 40px;
    padding-top: 57px;
  }
  .title span {
    font-size: 50px;
    color: rgb(0, 0, 0);
    margin-right: 5px;
  }
  .slide::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 5px 5px 15px rgba(255, 255, 255, 0.5);
    border-radius: 2mm;
    top: 0;
    left: 21.5%;
    z-index: 1;
  }
  .desc {
    position: absolute;
    width: 90%;
    height: 60px;
    bottom: 10px;
    left: 70%;
    transform: translate(-50%, 0);
    border-radius: 10mm;
    background: rgba(0, 0, 0, 0.7);
    font-family: poppins;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    box-sizing: border-box;
    padding: 15px;
    color: rgb(255, 255, 255);
    transition: 0.2s;
  }
  .slide .desc {
    opacity: 0;
  }
  .slide.active {
    width: 280px;
    height: 350px;
    z-index: 999;
    margin-right: 65px;
  }
  .slide.active img {
    width: 280px;
    height: 350px;
    -webkit-box-reflect: below 0px
      linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  }
  .slide.active:hover .desc {
    opacity: 1;
  }
  .togglebtn{
    font-size: 1.7rem;
    color: black;
    cursor: pointer;
    display: none;
}
.dropdown{
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    display: none;
    z-index: 999;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown.open{
    height: 240px;
}
.dropdown li{
    margin-top: 15px;
    padding: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown a{
    display: flex;
    justify-content: center;
    color: #fff;
    width: 100%;
}
  @media (max-width:1030px){
    header img{
      display: none;
    }
  }
  @media (max-width:970px){
    .hero{
        display: block;
    }
    .cards .card{
        display: none;
    }
    .hero .main{
        padding-top: 12%;
    }
    .hero h1{
        font-size: 60px;
    }
    .main3{
        display: block;
    }
    .main3 .location{
        display: none;
    }
    .hero2{
        display: block;
        width: 90%;
    }
    .hero2 .main2{
        margin-top: 15%;
    }
    .pic{
        display: none;
    }
  }
  @media (max-width:750px){
    .navbar ul li{
        display: none;
    }
    .navbar .links, .navbar .action{
        display: none;
    }
    .togglebtn{
        display: block;
    }
    .dropdown{
        display: block;
    }
    .main h1{
        font-size: 50px;
    }
  }
  @media (max-width:600px){
    .hero2 .main2{
        width: 70%;
        margin-top: 100px;
    }
    .dropdown{
        left: 2rem;
        width: unset;
    }
    .main h1{
        font-size: 30px;
        margin-top: 50px;
    }
}
    @media (max-width:400px){
        .container1 .logo{
            font-size: 20px;
        }
        .container2 .logo{
            font-size: 20px;
        }
        .container3 .logo{
            font-size: 20px;
        }
        .container2 h1{
            font-size: 40px;
        }
    }
